# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=job_scraper
DB_USER=postgres
DB_PASSWORD=yourpassword

#Openrouter API Key
OPENROUTER_API_KEY=your_api_key

# France Travail API credentials
FRANCE_TRAVAIL_CLIENT_ID=your_client_id
FRANCE_TRAVAIL_CLIENT_SECRET=your_client_secret
